body{

	

}

.carousel-inner > .item > img,
 	.carousel-inner > .item > a > img { 		
    	min-width: 100%;
     	margin: auto;
     	height: 400px;
     
  }

.carousel-caption {
     /* max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 0px;*/
      
      margin-bottom: 200px;
      text-align:left;
      color: black;
 }

.carousel-caption > p {

	font-size: 22px;

}

.searchForm1, .searchForm2 {

	display: none;
}


.tab-content {
 	border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    height: auto;
    min-height: 250px;
    align-content: center;
}

.tab-content p {
	margin-top: 20px;
}


.nav-tabs {
    margin-bottom: -1px;
    font-weight: bold;

}

.nav-tabs > li > a {
	font-size: 25px;
}



.mySubmitButton, .myLoginButton {
	color: grey;
	background-color: black;
}

 
footer {
	color: grey;
	background-color: black;
}


.social i {
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
}

a {

	font-size: 20px;

}

.orText {
	font-weight: bold;
	text-align: center;
}


   			
